<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'swtrivia:question_results' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.answer_set.all %}
    <input type="radio" name="choice" id="{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.question_text }}</label><br />
{% endfor %}
<input type="submit" value="Confirm Answer" />
</form>